.anaconda/
.android/
.aws/
.cache/
.config/
.copilot/
.cursor/
.docker/
.gitconfig
.gradle/
.jupyter/
.keras/
.local/
.nuget/
.ollama/
.pm2/
.pyenv/
.skiko/
.ssh/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Saved Games/
Videos/
anaconda3/
*.ipynb
ntuser*
NTUSER*
